
.logo-icon{
	background: url("../images/logo.png") 0 0 no-repeat;
	width:100px;
	height: 70px;
}

#news-panel{
	width: 250px;
	left: 200%;
}

#footer, #includedFooter {
height: 100px;
background-color: #101010;
width: 100%;
bottom: 0px;
position: fixed;
z-index: 100;
}

#footer-copyright{
	width: 100%;
}

.footer-text{
	margin-top: 15px;
	height:60px;
	display: inline-block;
}

#footer a{
color:white;
}

#heading{
	position: relative;	
	left: 150px;
	height:70px;
}

#logo{
	position: absolute;
}