
.logo-icon{
	background: url("../images/dslogo.png") 0 0 no-repeat;
	width:100px;
	height: 70px;
}

#news-panel{
	width: 250px;
	left: 200%;
}

#footer, #includedFooter {
height: 100px;
background-color: #101010;
width: 100%;
bottom: 0px;
position: fixed;
z-index: 100;
}

#footer-copyright{
	width: 100%;
}

.footer-text{
	margin-top: 15px;
	height:60px;
	display: inline-block;
}

#footer a{
color:white;
}

#heading{
	position: relative;	
	left: 150px;
	height:70px;
}

#logo{
	position: absolute;
}

.cpp-projects:hover{

}

.invis{
	visibility: hidden;
}

.maskable{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.maskable .mask{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#language-projects{
	color: black;
}

.inv-panel{

}

.rel5{
	position: relative;
	top: -5px;
}