body{
	margin-bottom: 0%;
}

#news-panel{
	width: 250px;
	left: 200%;
}

#footer {
height: 100px;
background-color: #101010;
width: 100%;
bottom: 0px;
}

#footer-copyright{
	width: 100%;
}

.footer-text{
	margin-top: 15px;
	height:60px;
	display: inline-block;
}

#footer a{
color:white;
}